<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gitDemoProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B3FF6AC81E22E8C6006ECC18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3FF6ADC1E22E8C6006ECC18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3FF6AE71E22E8C6006ECC18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
